.map_path {
  fill: var(--bgr-transparent-low);
  /* stroke: var(--font-color); */
  stroke-width: 2px;
  stroke-linejoin: round;
}

.station_rect {
  fill: var(--primary);
}

.station_rect:hover {
  stroke: var(--font-color);
  stroke-width: 2px;
  transition: ease, 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.station_rect.is-selected {
  stroke: var(--font-color);
  stroke-width: 2px;
  transition: ease, 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#station-input-wrapper {
  float: right;
  margin-right: 50px;
}

.temp_line {
  stroke: var(--primary);
  stroke-linecap: round;
  stroke-width: 0.2em;
}

.temp_line:hover {
  stroke: var(--primary);
  stroke-linecap: round;
  stroke-width: 0.5em;
}
