@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
/* Light and Dark color schema
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --primary: #fa4d1d;
  --secondary: #03b976;
  --font-color: #000000;
  --bg-color: #ffffff;
  --bg-transparent-low: rgba(255, 255, 255, 0.05);
  --bg-transparent-hig: rgba(255, 255, 255, 0.8);
  --bgr-transparent-low: rgba(0, 0, 0, 0.1);
  --bgr-transparent-hig: rgba(0, 0, 0, 0.8);
  --head-height: 25px;
}

[data-theme="dark"] {
  --font-color: #ffffff;
  --bg-color: #000000;
  --bg-transparent-low: rgba(0, 0, 0, 0.2);
  --bg-transparent-hig: rgba(0, 0, 0, 0.8);
  --bgr-transparent-low: rgba(255, 255, 255, 0.05);
  --bgr-transparent-hig: rgba(255, 255, 255, 0.8);
}

/* Common
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,
body {
  color: var(--font-color);
  background-color: var(--bg-color);
  text-align: center;
  scroll-behavior: smooth;
  margin: 0;
}

p {
  margin: 1rem auto;
  max-width: 75ch;
}

a {
  color: var(--font-color);
  text-decoration: none;
  margin-left: 20px;
}

a:hover {
  color: var(--primary);
  font-weight: bold;
}

svg {
  fill: var(--font-color);
}

svg > .layer {
  opacity: 0;
  transition: ease-in-out 750ms;
  transition-delay: 750ms;
  transition-property: opacity;
  pointer-events: none;
}

svg > .layer.is-active {
  opacity: 1;
  pointer-events: all;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

select:focus {
  border: 1px solid var(--primary);
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}

/* Chapter
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chapter {
  min-height: 640px;
  max-width: 75ch;
  padding: 5rem;
  margin: auto;
}

.chapter img {
  display: block;
  margin: 2rem auto;
}

.intro {
  max-width: none;
  padding-top: 0;
  margin-bottom: 5rem;
  background-image: linear-gradient(transparent, var(--bg-color)), url();
  background-repeat: no-repeat;
  background-size: cover;
}

.intro h1 {
  font-size: 10rem;
  font-weight: 600;
  color: var(--primary);
}

.ridge {
  max-width: none;
  margin: 1rem auto;
  padding: 5rem auto;
  background-color: var(--bgr-transparent-low);
}

/* .outro {
} */

/* Scrolly
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scrolly {
  position: relative;
  padding: 1rem;
}

.article {
  position: relative;
  max-width: 45ch;
}

.figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  border-radius: 4px;
  display: grid;
}

.figure p {
  position: absolute;
  text-align: right;
  top: 95%;
  left: 98%;
  font-size: 1rem;
}

.figure svg {
  /* box-sizing: border-box;
  border: 1px solid; */
  position: absolute;
  width: 100%;
  height: 100%;
  shape-rendering: auto;
}

.step {
  background-color: var(--bg-transparent-low);
  backdrop-filter: blur(2px);
  text-align: left;
  margin: 0 auto 2rem auto;
  padding: 5px;
  opacity: 0.1;
  transition: ease, 1s;
  /* border: 1px solid; */
  border-radius: 4px;
  scroll-margin-top: 250px;
  min-height: 250px;
  height: max-content;
}

.step:first-child {
  margin-top: 10em;
}

.step:last-child {
  margin-bottom: 10em;
}

.step.is-active {
  opacity: 1;
  transition: ease, 1s;
}

.step p {
  padding: 1rem;
  font-size: 2rem;
}

.step a {
  padding: 0.8rem;
  font-size: 1.5rem;
}

/* STICKY SIDE */

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.side > .article {
  padding: 0 1rem;
}

/* STICKY OVERLAY */

.overlay > .article {
  padding: 0;
  margin: 0 auto;
  pointer-events: none;
  transition: ease, 1s;
}

/* NavigationBar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#navbar {
  background-color: var(--bg-transparent-low);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 10px 0px 10px 0px;
  opacity: 0.5;
}

/* Change the color of links on hover */
#navbar a:hover {
  opacity: 1;
}

#navbar a.is-active {
  opacity: 1;
  transition: ease, 1s;
}

#dynamic_nav_container {
  font-size: 0.8em;
}

/* Scroll indicator
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.scroll-downs {
  position: relative;
  margin: 100px auto;
  width: 35px;
  height: 55px;
}
.mousey {
  width: 10px;
  padding: 10px 15px;
  height: 45px;
  border: 2px solid var(--font-color);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--font-color);
  animation-name: scroll;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* Taggle dark/light
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#headline {
  font-weight: 100;
  font-size: calc(var(--head-height) * 0.8);
  height: calc(var(--head-height) * 1.2);
  margin: auto;
  width: max-content;
  background-color: var(--primary);
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  top: calc(var(--head-height) * 0.1);
}

.theme-switch {
  display: inline-block;
  height: var(--head-height);
  position: relative;
  width: calc(var(--head-height) * 2);
  right: 20px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--bgr-transparent-low);
  backdrop-filter: blur(2px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
  box-shadow: inset 0 0 5px var(--bgr-transparent-low);
}

.slider:before {
  background-color: var(--bg-color);
  bottom: calc(var(--head-height) * 0.1);
  content: "";
  height: calc(var(--head-height) * 0.8);
  left: calc(var(--head-height) * 0.1);
  position: absolute;
  transition: 0.4s;
  width: calc(var(--head-height) * 0.8);
}

input:checked + .slider {
  background-color: var(--bgr-transparent-low);
}

input:checked + .slider:before {
  transform: translateX(var(--head-height));
}

.slider.round {
  border-radius: var(--head-height);
}

.slider.round:before {
  border-radius: 50%;
}

/*  Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tooltip {
  z-index: 100;
  border-radius: 4px;
  display: none;
  position: absolute;
  background-color: var(--bg-transparent-hig);
  padding: 5px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
